# SCSS source maps
*.css.map
*.scss.map

# Node (si se usa node-sass)
node_modules/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Sass cache
.sass-cache/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
